### José de Jesús Tapia López
### Procesamiento de Lenguaje Natural
### 18 de Octubre del 2020
### Tema 2 - Actividad Sumativa 4

Identificar correctamente todas las diferentes variantes de fecha codificadas en este conjunto de datos, normalizar y ordenar adecuadamente las fechas. Cada línea del archivo dates.txt corresponde a una nota médica. Cada nota tiene una fecha que debe extraerse, pero cada fecha está codificada en uno de muchos formatos. Aquí hay una lista de algunas de las variantes que puede encontrar en este conjunto de datos:

* 04/20/2009; 04/20/09; 4/20/09; 4/3/09
* Mar-20-2009; Mar 20, 2009; March 20, 2009; Mar. 20, 2009; Mar 20 2009;
* 20 Mar 2009; 20 March 2009; 20 Mar. 2009; 20 March, 2009
* Mar 20th, 2009; Mar 21st, 2009; Mar 22nd, 2009
* Feb 2009; Sep 2009; Oct 2010
* 6/2008; 12/2009
* 2009; 2010

Una vez que haya extraído estos patrones de fecha del texto, el siguiente paso es clasificarlos en orden cronológico ascendente de acuerdo con las siguientes reglas:

* Todas las fechas están en formato xx/xx/ xx son mm/dd/aa
* Todas las fechas en las que el año está codificado en solo dos dígitos corresponden a años posteriores a la década de 1900 (p. Ej., 1/5/89 es el 5 de enero de 1989).
* Si falta el día (p. Ej., 9/2009), suponga que es el primer día del mes (p. Ej., septiembre, 1 de 2009).
* Si falta el mes (por ejemplo, 2010), suponga que es el primero de enero de ese año (p. Ej., enero, 1 de 2010).
* Tenga cuidado con los posibles errores tipográficos, ya que este es un conjunto de datos derivados de la vida real.


Esta función debería devolver una lista de longitud 500.


Adjuntar el código de Python, en un Jupyter Notebook. El código debe estar bien documentado.

In [1]:
import re
import pandas as pd
pd.set_option('display.max_rows', 500)

In [2]:
# Caso 1: 04/20/2009; 04/20/09; 4/20/09; 4/3/09 
# La primera entrada (mm) puede tener de un número de una o dos cifras,
# la segunda entrada (dd) puede tener de un número de una o dos cifras y la tercer entrada 
# puede tener un número de dos a cuatro cifras (aaaa).


#\d Coincide con cualquier dígito decimal; esto es equivalente a la clase [0-9]
# '{n,m}' indica que hay entre n y m repeticiones
# [/-] indica que puede aparacer el símbolo "/" o "-" (para separar mes con el dia y dia con el año)

caso1 = '(\d{1,2}[/-]\d{1,2}[/-]\d{2,4})'

# Caso 2: 6/2008; 12/2009

# Un número de uno o dos dígitos seguido de un símbolo "/" o "-" seguido de un número 1 o un número 2 (Porque
# puede que haya un numero como 3007 pero es fecha aún no ocurre) y eso último seguido de número va a un 
# número de 3 cifras (Para completar los miles, es decir, los números con cuatro cifras)

caso2 = '(\d{1,2}[/-][1|2]\d{3})'

# Caso 3: Mar-20-2009. 
# La primera letra contiene una mayúzcula (Por eso el rango [A-Z]) 
# Después de la mayúscula, puede haber UNA o más letras minúsculas (Por eso el rango [a-z]+)
# Posteriormente, dicho mes puedes estar separado por un '\' o un '-', (Por eso [/-])
# Luego sigue un \d, que coincide con cualquier dígito decimal; esto es equivalente a la clase [0-9]
# '{n,m}' indica que hay entre n y m repeticiones (en este caso un número que tiene una cifra o dos)
# Finalmente están otras cosas que ya expliqué:
# el último puedes estar separado por un '\' o un '-', (Por eso [/-])
# y al último un \d{2,4} para indicar que hay entre dos y cuatro repeticiones de un dígito decimal 

caso3 = '[A-Z][a-z]+[/-]\d{1,2}\[/-]\d{2,4}'

# Caso 4:  Mar 20, 2009; March 20, 2009; Mar. 20, 2009; Mar 20 2009;

# indicamos que al principio esten las tres primeras palabras de algún mes (por si estan abreviadas) y puede
# que el nombre del mes esté completo, por ello a las tres primeras iniciales del mes pueden seguirles cero o más
# letras en minúsculas (por ello [a-z]*); a ese le puede seguir: una coma, un punto o ninguno de esos dos 
# (por eso [,.]) después le sigue entre dos y cuatro repeticiones de un dígito decimal 

caso4 = "(?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)[a-z]*[,.]? \d{1,2}[,.]? \d{2,4}"

# Caso 5: 20 Mar 2009; 20 March 2009; 20 Mar. 2009; 20 March, 2009, Feb 2009; Sep 2009; Oct 2010

# Puede o no haber un número que tiene entre uno y dos cifras y seguido de un espacio en blanco, 
# seguido de las tres primeras palabras de algún mes (por si estan abreviadas) y puede
# que el nombre del mes esté completo, por ello a las tres primeras iniciales pueden seguirles cero o más
# letras en minúsculas (por ello [a-z]*), seguido de una posible o nula aparición
# de los signos ',' o '.', seguida de un espacio en blanco, seguida de un número de entre dos y cuatro cifras

caso5 = '(?:\d{1,2} )?(?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)[a-z]*[,.]? \d{4}'


# Caso 6: Mar 20th, 2009; Mar 21st, 2009; Mar 22nd, 2009

# Una letra mayúscula, seguida de una o más letras minúsculas, seguida de un espacio en blanco, 
# seguida de un número que tiene entre una o dos cifras, seguida de una o más letras
# minúsculas, seguida de un espacio en blanco, seguida de un número que tiene entre dos y cuatro cifras

caso6 = '[A-Z][a-z]+ \d{1,2}[a-z]+ \d{2,4}'

# Caso 7: 2009; 2010

# un número 1 o un número 2 (Porque puede que haya un numero como 3007 pero es fecha aún no ocurre) 
# seguido de un número de 3 cifras (Para completar los miles, es decir, los números con cuatro cifras)
caso7 = '([1|2]\d{3})'

In [3]:
# guardo en una lista cada línea del archivo txt (cada elemento de la lista es un renglón)
archivo = []
with open('dates.txt') as doc:
    for linea in doc:
        archivo.append(linea)
# creo un series de pandas , donde cada linea del txt es un renglon
df = pd.Series(archivo)

# aplico las expresiones regulares que hice para encontrarlas 
# De todos los casos que ya encontré, ahora voy a aplicar una conjunción excluyente con el símbolo '|'

fechas_ordenadas = df.str.extract('('+caso1+'|'+caso2+'|'+caso3+'|'+caso4+'|'+caso5+'|'+caso6+'|'+caso7+')')


# nos quedamos con la primera columna 
fechas_ordenadas = fechas_ordenadas.iloc[:,0]
# convertimos todo a fecha 
fechas_ordenadas = pd.Series(pd.to_datetime(fechas_ordenadas))
# ordenamos todo ascendentemente
fechas_ordenadas = fechas_ordenadas.sort_values(ascending=True)

# mostramos el resultado del ordenamiento de las fechas
fechas_ordenadas

9     1971-04-10
84    1971-05-18
2     1971-07-08
53    1971-07-11
28    1971-09-12
474   1972-01-01
153   1972-01-13
13    1972-01-26
129   1972-05-06
98    1972-05-13
111   1972-06-10
225   1972-06-15
31    1972-07-20
171   1972-10-04
191   1972-11-30
486   1973-01-01
335   1973-02-01
415   1973-02-01
36    1973-02-14
405   1973-03-01
323   1973-03-01
422   1973-04-01
375   1973-06-01
380   1973-07-01
345   1973-10-01
57    1973-12-01
481   1974-01-01
436   1974-02-01
104   1974-02-24
299   1974-03-01
162   1974-03-05
154   1974-03-06
402   1974-04-01
95    1974-04-11
73    1974-04-12
108   1974-05-04
156   1974-05-26
332   1974-06-01
182   1974-06-13
82    1974-07-07
351   1974-08-01
278   1974-09-01
214   1974-09-10
155   1974-10-10
223   1974-10-14
473   1975-01-01
49    1975-02-28
317   1975-03-01
11    1975-04-09
319   1975-07-01
40    1975-07-29
418   1975-08-01
165   1975-08-18
370   1975-09-01
382   1975-09-01
3     1975-09-27
50    1975-11-22
363   1975-12-01
219   1975-12-14
465   1976-01-01
237   1976-02-01
23    1976-02-11
342   1976-03-01
204   1976-03-10
258   1976-04-01
315   1976-06-01
27    1976-09-02
93    1976-09-20
17    1976-10-13
488   1977-01-01
303   1977-01-01
283   1977-02-01
395   1977-02-01
309   1977-04-01
419   1977-05-01
123   1977-05-04
19    1977-05-21
117   1977-06-20
232   1977-07-01
72    1977-07-11
189   1977-10-21
369   1978-01-01
493   1978-01-01
318   1978-01-01
239   1978-02-01
148   1978-02-02
105   1978-02-03
336   1978-03-01
6     1978-05-18
200   1978-07-26
81    1978-08-04
65    1978-08-11
434   1978-10-01
164   1978-10-21
378   1978-12-01
313   1978-12-01
495   1979-01-01
424   1979-04-01
398   1979-05-01
5     1979-07-06
254   1979-08-01
296   1979-08-01
75    1979-09-06
167   1979-10-01
21    1979-10-21
259   1979-11-01
499   1980-01-01
347   1980-03-01
150   1980-03-12
78    1980-04-22
340   1980-05-01
441   1980-09-01
361   1980-10-01
267   1980-10-01
221   1980-10-18
466   1981-01-01
39    1981-01-14
134   1981-01-14
197   1981-02-18
355   1981-03-01
430   1981-06-01
80    1981-06-29
444   1981-07-01
246   1981-07-01
85    1981-08-09
215   1981-08-14
263   1981-09-01
74    1981-09-19
403   1981-10-01
458   1982-01-01
16    1982-04-12
25    1982-04-13
127   1982-05-26
454   1982-07-01
70    1982-07-04
44    1982-08-16
59    1982-08-20
103   1982-09-22
112   1982-10-16
429   1982-11-01
88    1982-12-08
179   1982-12-10
470   1983-01-01
358   1983-01-01
205   1983-01-27
397   1983-02-01
294   1983-02-01
137   1983-02-10
295   1983-03-01
35    1983-03-15
438   1983-04-01
247   1983-05-01
209   1983-07-25
61    1983-08-06
107   1983-08-22
285   1983-09-01
175   1983-10-21
99    1983-11-14
455   1984-01-01
24    1984-07-25
275   1984-09-01
421   1984-09-01
48    1984-09-17
426   1984-11-01
489   1985-01-01
136   1985-02-11
30    1985-03-31
274   1985-04-01
10    1985-05-11
178   1985-06-15
1     1985-06-18
447   1985-07-01
280   1985-07-01
185   1985-08-17
228   1985-09-01
135   1985-10-10
69    1985-11-03
492   1986-01-01
199   1986-01-24
352   1986-03-01
8     1986-03-07
276   1986-04-01
230   1986-05-01
334   1986-07-01
96    1986-07-18
38    1986-07-27
368   1986-08-01
404   1986-10-01
261   1986-10-01
168   1986-10-13
29    1986-10-24
437   1986-11-01
423   1986-12-01
54    1986-12-26
284   1987-01-01
485   1987-01-01
68    1987-01-21
32    1987-04-12
349   1987-05-01
41    1987-06-24
63    1987-06-28
416   1987-07-01
55    1987-10-11
130   1987-10-25
116   1987-12-04
76    1987-12-05
462   1988-01-01
330   1988-04-01
37    1988-05-24
390   1988-08-01
256   1988-08-01
216   1988-11-11
174   1988-12-04
180   1988-12-09
476   1989-01-01
312   1989-02-01
265   1989-04-01
115   1989-04-05
71    1989-04-13
218   1989-05-14
202   1989-05-15
440   1989-06-01
385   1989-07-01
373   1989-08-01
210   1989-08-11
89    1989-08-26
149   1989-09-09
26    1989-09-22
7     1989-10-24
435   1989-12-01
482   1990-01-01
177   1990-01-18
157   1990-02-10
412   1990-03-01
22    1990-03-03
194   1990-04-11
14    1990-05-24
151   1990-06-22
233   1990-07-01
206   1990-10-23
245   1990-11-01
122   1990-11-05
94    1990-12-08
461   1991-01-01
226   1991-01-07
97    1991-03-31
91    1991-04-19
51    1991-05-24
33    1991-06-20
453   1991-07-01
67    1991-07-06
46    1991-07-15
322   1991-10-01
66    1991-10-29
399   1992-01-01
487   1992-01-01
138   1992-02-05
62    1992-02-22
211   1992-04-17
52    1992-06-13
269   1992-07-01
119   1992-07-17
100   1992-08-16
442   1992-09-01
310   1992-10-01
143   1992-10-14
301   1992-12-01
113   1992-12-15
478   1993-01-01
298   1993-01-01
272   1993-02-01
354   1993-03-01
0     1993-03-25
249   1993-04-01
192   1993-05-06
86    1993-06-05
172   1993-08-23
357   1993-10-01
331   1993-12-01
477   1994-01-01
450   1994-01-01
300   1994-01-01
163   1994-01-29
308   1994-02-01
196   1994-02-18
47    1994-06-12
133   1994-06-28
359   1994-07-01
64    1994-07-29
42    1994-08-14
409   1994-10-01
406   1994-12-01
483   1995-01-01
238   1995-01-01
193   1995-01-18
311   1995-02-01
140   1995-02-14
388   1995-03-01
56    1995-03-14
236   1995-05-01
372   1995-05-01
110   1995-06-17
248   1995-07-01
60    1995-07-24
181   1995-08-18
203   1995-09-06
326   1995-10-01
90    1995-10-13
169   1995-10-21
292   1995-11-01
479   1996-01-01
142   1996-01-22
4     1996-02-06
124   1996-02-27
324   1996-10-01
121   1996-10-02
131   1996-10-14
166   1996-11-11
468   1997-01-01
365   1997-07-01
213   1997-07-11
87    1997-08-09
353   1997-10-01
101   1997-10-05
333   1997-11-01
114   1997-12-08
459   1998-01-01
45    1998-02-15
338   1998-04-01
18    1998-04-24
222   1998-05-15
343   1998-06-01
20    1998-07-21
224   1998-07-25
12    1998-08-01
79    1998-10-04
387   1998-11-01
251   1998-12-01
120   1998-12-22
471   1999-01-01
77    1999-01-05
376   1999-02-01
432   1999-04-01
327   1999-04-01
384   1999-05-01
321   1999-06-01
212   1999-07-24
407   1999-08-01
266   1999-09-01
145   1999-10-18
201   1999-12-23
456   2000-01-01
305   2000-02-01
260   2000-02-01
420   2000-03-01
329   2000-03-01
392   2000-05-01
417   2000-08-01
190   2000-08-10
158   2000-08-23
443   2000-09-01
83    2000-09-14
374   2000-11-01
457   2001-01-01
125   2001-01-24
328   2001-05-01
159   2001-05-26
195   2001-05-30
147   2001-05-30
377   2001-06-01
367   2001-09-01
394   2001-10-01
494   2002-01-01
304   2002-03-01
446   2002-04-01
43    2002-04-13
262   2002-06-01
128   2002-06-28
102   2002-07-18
449   2002-08-01
184   2002-11-11
469   2003-01-01
452   2003-03-01
234   2003-07-01
362   2003-08-01
356   2003-09-01
144   2003-10-06
291   2004-01-01
484   2004-01-01
188   2004-03-12
414   2004-04-01
92    2004-04-08
350   2004-05-01
241   2004-05-01
306   2004-05-01
425   2004-07-01
281   2004-08-01
207   2004-08-12
126   2004-09-10
302   2004-11-01
146   2004-11-11
451   2004-12-01
498   2005-01-01
339   2005-03-01
250   2005-05-01
344   2005-06-01
346   2005-09-01
348   2005-12-01
496   2006-01-01
106   2006-02-11
118   2006-04-27
270   2006-05-01
433   2006-05-01
307   2006-07-01
173   2006-10-18
314   2007-01-01
410   2007-01-01
490   2007-01-01
252   2007-01-01
391   2007-04-01
277   2007-04-01
325   2007-06-01
264   2007-06-01
289   2007-09-01
160   2007-10-21
341   2007-11-01
132   2007-11-30
428   2007-12-01
337   2007-12-01
445   2008-01-01
497   2008-01-01
187   2008-01-14
183   2008-05-26
396   2008-08-01
271   2008-08-01
293   2008-09-01
400   2008-11-01
360   2008-12-01
297   2009-01-01
491   2009-01-01
371   2009-01-01
389   2009-02-01
386   2009-07-01
288   2009-08-01
379   2009-08-01
268   2009-12-01
472   2010-01-01
273   2010-02-01
287   2010-03-01
448   2010-05-01
176   2010-05-26
411   2010-08-01
408   2010-10-01
364   2010-11-01
242   2010-11-01
58    2010-12-05
467   2011-01-01
170   2011-01-24
15    2011-01-25
240   2011-05-01
316   2011-05-01
229   2011-06-01
217   2011-06-13
109   2011-07-20
227   2011-09-15
290   2011-12-01
460   2012-01-01
393   2012-04-01
282   2012-05-01
34    2012-05-12
220   2012-06-25
208   2012-09-01
243   2012-09-01
139   2012-10-21
320   2012-11-01
383   2012-12-01
244   2013-01-01
286   2013-01-01
480   2013-01-01
431   2013-04-01
279   2013-09-01
198   2013-10-11
381   2014-01-01
463   2014-01-01
366   2014-07-01
439   2014-10-01
255   2014-10-01
401   2014-12-01
475   2015-01-01
257   2015-09-01
152   2015-09-28
235   2015-10-01
464   2016-01-01
253   2016-02-01
427   2016-05-01
231   2016-05-01
141   2016-05-30
186   2016-10-13
161   2016-10-19
413   2016-11-01
Name: 0, dtype: datetime64[ns]

In [4]:
lista_fechas_ordenadas = list(fechas_ordenadas)

In [5]:
lista_fechas_ordenadas

[Timestamp('1971-04-10 00:00:00'),
 Timestamp('1971-05-18 00:00:00'),
 Timestamp('1971-07-08 00:00:00'),
 Timestamp('1971-07-11 00:00:00'),
 Timestamp('1971-09-12 00:00:00'),
 Timestamp('1972-01-01 00:00:00'),
 Timestamp('1972-01-13 00:00:00'),
 Timestamp('1972-01-26 00:00:00'),
 Timestamp('1972-05-06 00:00:00'),
 Timestamp('1972-05-13 00:00:00'),
 Timestamp('1972-06-10 00:00:00'),
 Timestamp('1972-06-15 00:00:00'),
 Timestamp('1972-07-20 00:00:00'),
 Timestamp('1972-10-04 00:00:00'),
 Timestamp('1972-11-30 00:00:00'),
 Timestamp('1973-01-01 00:00:00'),
 Timestamp('1973-02-01 00:00:00'),
 Timestamp('1973-02-01 00:00:00'),
 Timestamp('1973-02-14 00:00:00'),
 Timestamp('1973-03-01 00:00:00'),
 Timestamp('1973-03-01 00:00:00'),
 Timestamp('1973-04-01 00:00:00'),
 Timestamp('1973-06-01 00:00:00'),
 Timestamp('1973-07-01 00:00:00'),
 Timestamp('1973-10-01 00:00:00'),
 Timestamp('1973-12-01 00:00:00'),
 Timestamp('1974-01-01 00:00:00'),
 Timestamp('1974-02-01 00:00:00'),
 Timestamp('1974-02-24 00:00:00'),
 Timestamp('1974-03-01 00:00:00'),
 Timestamp('1974-03-05 00:00:00'),
 Timestamp('1974-03-06 00:00:00'),
 Timestamp('1974-04-01 00:00:00'),
 Timestamp('1974-04-11 00:00:00'),
 Timestamp('1974-04-12 00:00:00'),
 Timestamp('1974-05-04 00:00:00'),
 Timestamp('1974-05-26 00:00:00'),
 Timestamp('1974-06-01 00:00:00'),
 Timestamp('1974-06-13 00:00:00'),
 Timestamp('1974-07-07 00:00:00'),
 Timestamp('1974-08-01 00:00:00'),
 Timestamp('1974-09-01 00:00:00'),
 Timestamp('1974-09-10 00:00:00'),
 Timestamp('1974-10-10 00:00:00'),
 Timestamp('1974-10-14 00:00:00'),
 Timestamp('1975-01-01 00:00:00'),
 Timestamp('1975-02-28 00:00:00'),
 Timestamp('1975-03-01 00:00:00'),
 Timestamp('1975-04-09 00:00:00'),
 Timestamp('1975-07-01 00:00:00'),
 Timestamp('1975-07-29 00:00:00'),
 Timestamp('1975-08-01 00:00:00'),
 Timestamp('1975-08-18 00:00:00'),
 Timestamp('1975-09-01 00:00:00'),
 Timestamp('1975-09-01 00:00:00'),
 Timestamp('1975-09-27 00:00:00'),
 Timestamp('1975-11-22 00:00:00'),
 Timestamp('1975-12-01 00:00:00'),
 Timestamp('1975-12-14 00:00:00'),
 Timestamp('1976-01-01 00:00:00'),
 Timestamp('1976-02-01 00:00:00'),
 Timestamp('1976-02-11 00:00:00'),
 Timestamp('1976-03-01 00:00:00'),
 Timestamp('1976-03-10 00:00:00'),
 Timestamp('1976-04-01 00:00:00'),
 Timestamp('1976-06-01 00:00:00'),
 Timestamp('1976-09-02 00:00:00'),
 Timestamp('1976-09-20 00:00:00'),
 Timestamp('1976-10-13 00:00:00'),
 Timestamp('1977-01-01 00:00:00'),
 Timestamp('1977-01-01 00:00:00'),
 Timestamp('1977-02-01 00:00:00'),
 Timestamp('1977-02-01 00:00:00'),
 Timestamp('1977-04-01 00:00:00'),
 Timestamp('1977-05-01 00:00:00'),
 Timestamp('1977-05-04 00:00:00'),
 Timestamp('1977-05-21 00:00:00'),
 Timestamp('1977-06-20 00:00:00'),
 Timestamp('1977-07-01 00:00:00'),
 Timestamp('1977-07-11 00:00:00'),
 Timestamp('1977-10-21 00:00:00'),
 Timestamp('1978-01-01 00:00:00'),
 Timestamp('1978-01-01 00:00:00'),
 Timestamp('1978-01-01 00:00:00'),
 Timestamp('1978-02-01 00:00:00'),
 Timestamp('1978-02-02 00:00:00'),
 Timestamp('1978-02-03 00:00:00'),
 Timestamp('1978-03-01 00:00:00'),
 Timestamp('1978-05-18 00:00:00'),
 Timestamp('1978-07-26 00:00:00'),
 Timestamp('1978-08-04 00:00:00'),
 Timestamp('1978-08-11 00:00:00'),
 Timestamp('1978-10-01 00:00:00'),
 Timestamp('1978-10-21 00:00:00'),
 Timestamp('1978-12-01 00:00:00'),
 Timestamp('1978-12-01 00:00:00'),
 Timestamp('1979-01-01 00:00:00'),
 Timestamp('1979-04-01 00:00:00'),
 Timestamp('1979-05-01 00:00:00'),
 Timestamp('1979-07-06 00:00:00'),
 Timestamp('1979-08-01 00:00:00'),
 Timestamp('1979-08-01 00:00:00'),
 Timestamp('1979-09-06 00:00:00'),
 Timestamp('1979-10-01 00:00:00'),
 Timestamp('1979-10-21 00:00:00'),
 Timestamp('1979-11-01 00:00:00'),
 Timestamp('1980-01-01 00:00:00'),
 Timestamp('1980-03-01 00:00:00'),
 Timestamp('1980-03-12 00:00:00'),
 Timestamp('1980-04-22 00:00:00'),
 Timestamp('1980-05-01 00:00:00'),
 Timestamp('1980-09-01 00:00:00'),
 Timestamp('1980-10-01 00:00:00'),
 Timestamp('1980-10-01 00:00:00'),
 Timestamp('1980-10-18 00:00:00'),
 Timestamp('1981-01-01 00:00:00'),
 Timestamp('1981-01-14 00:00:00'),
 Timestamp('1981-01-14 00:00:00'),
 Timestamp('1981-02-18 00:00:00'),
 Timestamp('1981-03-01 00:00:00'),
 Timestamp('1981-06-01 00:00:00'),
 Timestamp('1981-06-29 00:00:00'),
 Timestamp('1981-07-01 00:00:00'),
 Timestamp('1981-07-01 00:00:00'),
 Timestamp('1981-08-09 00:00:00'),
 Timestamp('1981-08-14 00:00:00'),
 Timestamp('1981-09-01 00:00:00'),
 Timestamp('1981-09-19 00:00:00'),
 Timestamp('1981-10-01 00:00:00'),
 Timestamp('1982-01-01 00:00:00'),
 Timestamp('1982-04-12 00:00:00'),
 Timestamp('1982-04-13 00:00:00'),
 Timestamp('1982-05-26 00:00:00'),
 Timestamp('1982-07-01 00:00:00'),
 Timestamp('1982-07-04 00:00:00'),
 Timestamp('1982-08-16 00:00:00'),
 Timestamp('1982-08-20 00:00:00'),
 Timestamp('1982-09-22 00:00:00'),
 Timestamp('1982-10-16 00:00:00'),
 Timestamp('1982-11-01 00:00:00'),
 Timestamp('1982-12-08 00:00:00'),
 Timestamp('1982-12-10 00:00:00'),
 Timestamp('1983-01-01 00:00:00'),
 Timestamp('1983-01-01 00:00:00'),
 Timestamp('1983-01-27 00:00:00'),
 Timestamp('1983-02-01 00:00:00'),
 Timestamp('1983-02-01 00:00:00'),
 Timestamp('1983-02-10 00:00:00'),
 Timestamp('1983-03-01 00:00:00'),
 Timestamp('1983-03-15 00:00:00'),
 Timestamp('1983-04-01 00:00:00'),
 Timestamp('1983-05-01 00:00:00'),
 Timestamp('1983-07-25 00:00:00'),
 Timestamp('1983-08-06 00:00:00'),
 Timestamp('1983-08-22 00:00:00'),
 Timestamp('1983-09-01 00:00:00'),
 Timestamp('1983-10-21 00:00:00'),
 Timestamp('1983-11-14 00:00:00'),
 Timestamp('1984-01-01 00:00:00'),
 Timestamp('1984-07-25 00:00:00'),
 Timestamp('1984-09-01 00:00:00'),
 Timestamp('1984-09-01 00:00:00'),
 Timestamp('1984-09-17 00:00:00'),
 Timestamp('1984-11-01 00:00:00'),
 Timestamp('1985-01-01 00:00:00'),
 Timestamp('1985-02-11 00:00:00'),
 Timestamp('1985-03-31 00:00:00'),
 Timestamp('1985-04-01 00:00:00'),
 Timestamp('1985-05-11 00:00:00'),
 Timestamp('1985-06-15 00:00:00'),
 Timestamp('1985-06-18 00:00:00'),
 Timestamp('1985-07-01 00:00:00'),
 Timestamp('1985-07-01 00:00:00'),
 Timestamp('1985-08-17 00:00:00'),
 Timestamp('1985-09-01 00:00:00'),
 Timestamp('1985-10-10 00:00:00'),
 Timestamp('1985-11-03 00:00:00'),
 Timestamp('1986-01-01 00:00:00'),
 Timestamp('1986-01-24 00:00:00'),
 Timestamp('1986-03-01 00:00:00'),
 Timestamp('1986-03-07 00:00:00'),
 Timestamp('1986-04-01 00:00:00'),
 Timestamp('1986-05-01 00:00:00'),
 Timestamp('1986-07-01 00:00:00'),
 Timestamp('1986-07-18 00:00:00'),
 Timestamp('1986-07-27 00:00:00'),
 Timestamp('1986-08-01 00:00:00'),
 Timestamp('1986-10-01 00:00:00'),
 Timestamp('1986-10-01 00:00:00'),
 Timestamp('1986-10-13 00:00:00'),
 Timestamp('1986-10-24 00:00:00'),
 Timestamp('1986-11-01 00:00:00'),
 Timestamp('1986-12-01 00:00:00'),
 Timestamp('1986-12-26 00:00:00'),
 Timestamp('1987-01-01 00:00:00'),
 Timestamp('1987-01-01 00:00:00'),
 Timestamp('1987-01-21 00:00:00'),
 Timestamp('1987-04-12 00:00:00'),
 Timestamp('1987-05-01 00:00:00'),
 Timestamp('1987-06-24 00:00:00'),
 Timestamp('1987-06-28 00:00:00'),
 Timestamp('1987-07-01 00:00:00'),
 Timestamp('1987-10-11 00:00:00'),
 Timestamp('1987-10-25 00:00:00'),
 Timestamp('1987-12-04 00:00:00'),
 Timestamp('1987-12-05 00:00:00'),
 Timestamp('1988-01-01 00:00:00'),
 Timestamp('1988-04-01 00:00:00'),
 Timestamp('1988-05-24 00:00:00'),
 Timestamp('1988-08-01 00:00:00'),
 Timestamp('1988-08-01 00:00:00'),
 Timestamp('1988-11-11 00:00:00'),
 Timestamp('1988-12-04 00:00:00'),
 Timestamp('1988-12-09 00:00:00'),
 Timestamp('1989-01-01 00:00:00'),
 Timestamp('1989-02-01 00:00:00'),
 Timestamp('1989-04-01 00:00:00'),
 Timestamp('1989-04-05 00:00:00'),
 Timestamp('1989-04-13 00:00:00'),
 Timestamp('1989-05-14 00:00:00'),
 Timestamp('1989-05-15 00:00:00'),
 Timestamp('1989-06-01 00:00:00'),
 Timestamp('1989-07-01 00:00:00'),
 Timestamp('1989-08-01 00:00:00'),
 Timestamp('1989-08-11 00:00:00'),
 Timestamp('1989-08-26 00:00:00'),
 Timestamp('1989-09-09 00:00:00'),
 Timestamp('1989-09-22 00:00:00'),
 Timestamp('1989-10-24 00:00:00'),
 Timestamp('1989-12-01 00:00:00'),
 Timestamp('1990-01-01 00:00:00'),
 Timestamp('1990-01-18 00:00:00'),
 Timestamp('1990-02-10 00:00:00'),
 Timestamp('1990-03-01 00:00:00'),
 Timestamp('1990-03-03 00:00:00'),
 Timestamp('1990-04-11 00:00:00'),
 Timestamp('1990-05-24 00:00:00'),
 Timestamp('1990-06-22 00:00:00'),
 Timestamp('1990-07-01 00:00:00'),
 Timestamp('1990-10-23 00:00:00'),
 Timestamp('1990-11-01 00:00:00'),
 Timestamp('1990-11-05 00:00:00'),
 Timestamp('1990-12-08 00:00:00'),
 Timestamp('1991-01-01 00:00:00'),
 Timestamp('1991-01-07 00:00:00'),
 Timestamp('1991-03-31 00:00:00'),
 Timestamp('1991-04-19 00:00:00'),
 Timestamp('1991-05-24 00:00:00'),
 Timestamp('1991-06-20 00:00:00'),
 Timestamp('1991-07-01 00:00:00'),
 Timestamp('1991-07-06 00:00:00'),
 Timestamp('1991-07-15 00:00:00'),
 Timestamp('1991-10-01 00:00:00'),
 Timestamp('1991-10-29 00:00:00'),
 Timestamp('1992-01-01 00:00:00'),
 Timestamp('1992-01-01 00:00:00'),
 Timestamp('1992-02-05 00:00:00'),
 Timestamp('1992-02-22 00:00:00'),
 Timestamp('1992-04-17 00:00:00'),
 Timestamp('1992-06-13 00:00:00'),
 Timestamp('1992-07-01 00:00:00'),
 Timestamp('1992-07-17 00:00:00'),
 Timestamp('1992-08-16 00:00:00'),
 Timestamp('1992-09-01 00:00:00'),
 Timestamp('1992-10-01 00:00:00'),
 Timestamp('1992-10-14 00:00:00'),
 Timestamp('1992-12-01 00:00:00'),
 Timestamp('1992-12-15 00:00:00'),
 Timestamp('1993-01-01 00:00:00'),
 Timestamp('1993-01-01 00:00:00'),
 Timestamp('1993-02-01 00:00:00'),
 Timestamp('1993-03-01 00:00:00'),
 Timestamp('1993-03-25 00:00:00'),
 Timestamp('1993-04-01 00:00:00'),
 Timestamp('1993-05-06 00:00:00'),
 Timestamp('1993-06-05 00:00:00'),
 Timestamp('1993-08-23 00:00:00'),
 Timestamp('1993-10-01 00:00:00'),
 Timestamp('1993-12-01 00:00:00'),
 Timestamp('1994-01-01 00:00:00'),
 Timestamp('1994-01-01 00:00:00'),
 Timestamp('1994-01-01 00:00:00'),
 Timestamp('1994-01-29 00:00:00'),
 Timestamp('1994-02-01 00:00:00'),
 Timestamp('1994-02-18 00:00:00'),
 Timestamp('1994-06-12 00:00:00'),
 Timestamp('1994-06-28 00:00:00'),
 Timestamp('1994-07-01 00:00:00'),
 Timestamp('1994-07-29 00:00:00'),
 Timestamp('1994-08-14 00:00:00'),
 Timestamp('1994-10-01 00:00:00'),
 Timestamp('1994-12-01 00:00:00'),
 Timestamp('1995-01-01 00:00:00'),
 Timestamp('1995-01-01 00:00:00'),
 Timestamp('1995-01-18 00:00:00'),
 Timestamp('1995-02-01 00:00:00'),
 Timestamp('1995-02-14 00:00:00'),
 Timestamp('1995-03-01 00:00:00'),
 Timestamp('1995-03-14 00:00:00'),
 Timestamp('1995-05-01 00:00:00'),
 Timestamp('1995-05-01 00:00:00'),
 Timestamp('1995-06-17 00:00:00'),
 Timestamp('1995-07-01 00:00:00'),
 Timestamp('1995-07-24 00:00:00'),
 Timestamp('1995-08-18 00:00:00'),
 Timestamp('1995-09-06 00:00:00'),
 Timestamp('1995-10-01 00:00:00'),
 Timestamp('1995-10-13 00:00:00'),
 Timestamp('1995-10-21 00:00:00'),
 Timestamp('1995-11-01 00:00:00'),
 Timestamp('1996-01-01 00:00:00'),
 Timestamp('1996-01-22 00:00:00'),
 Timestamp('1996-02-06 00:00:00'),
 Timestamp('1996-02-27 00:00:00'),
 Timestamp('1996-10-01 00:00:00'),
 Timestamp('1996-10-02 00:00:00'),
 Timestamp('1996-10-14 00:00:00'),
 Timestamp('1996-11-11 00:00:00'),
 Timestamp('1997-01-01 00:00:00'),
 Timestamp('1997-07-01 00:00:00'),
 Timestamp('1997-07-11 00:00:00'),
 Timestamp('1997-08-09 00:00:00'),
 Timestamp('1997-10-01 00:00:00'),
 Timestamp('1997-10-05 00:00:00'),
 Timestamp('1997-11-01 00:00:00'),
 Timestamp('1997-12-08 00:00:00'),
 Timestamp('1998-01-01 00:00:00'),
 Timestamp('1998-02-15 00:00:00'),
 Timestamp('1998-04-01 00:00:00'),
 Timestamp('1998-04-24 00:00:00'),
 Timestamp('1998-05-15 00:00:00'),
 Timestamp('1998-06-01 00:00:00'),
 Timestamp('1998-07-21 00:00:00'),
 Timestamp('1998-07-25 00:00:00'),
 Timestamp('1998-08-01 00:00:00'),
 Timestamp('1998-10-04 00:00:00'),
 Timestamp('1998-11-01 00:00:00'),
 Timestamp('1998-12-01 00:00:00'),
 Timestamp('1998-12-22 00:00:00'),
 Timestamp('1999-01-01 00:00:00'),
 Timestamp('1999-01-05 00:00:00'),
 Timestamp('1999-02-01 00:00:00'),
 Timestamp('1999-04-01 00:00:00'),
 Timestamp('1999-04-01 00:00:00'),
 Timestamp('1999-05-01 00:00:00'),
 Timestamp('1999-06-01 00:00:00'),
 Timestamp('1999-07-24 00:00:00'),
 Timestamp('1999-08-01 00:00:00'),
 Timestamp('1999-09-01 00:00:00'),
 Timestamp('1999-10-18 00:00:00'),
 Timestamp('1999-12-23 00:00:00'),
 Timestamp('2000-01-01 00:00:00'),
 Timestamp('2000-02-01 00:00:00'),
 Timestamp('2000-02-01 00:00:00'),
 Timestamp('2000-03-01 00:00:00'),
 Timestamp('2000-03-01 00:00:00'),
 Timestamp('2000-05-01 00:00:00'),
 Timestamp('2000-08-01 00:00:00'),
 Timestamp('2000-08-10 00:00:00'),
 Timestamp('2000-08-23 00:00:00'),
 Timestamp('2000-09-01 00:00:00'),
 Timestamp('2000-09-14 00:00:00'),
 Timestamp('2000-11-01 00:00:00'),
 Timestamp('2001-01-01 00:00:00'),
 Timestamp('2001-01-24 00:00:00'),
 Timestamp('2001-05-01 00:00:00'),
 Timestamp('2001-05-26 00:00:00'),
 Timestamp('2001-05-30 00:00:00'),
 Timestamp('2001-05-30 00:00:00'),
 Timestamp('2001-06-01 00:00:00'),
 Timestamp('2001-09-01 00:00:00'),
 Timestamp('2001-10-01 00:00:00'),
 Timestamp('2002-01-01 00:00:00'),
 Timestamp('2002-03-01 00:00:00'),
 Timestamp('2002-04-01 00:00:00'),
 Timestamp('2002-04-13 00:00:00'),
 Timestamp('2002-06-01 00:00:00'),
 Timestamp('2002-06-28 00:00:00'),
 Timestamp('2002-07-18 00:00:00'),
 Timestamp('2002-08-01 00:00:00'),
 Timestamp('2002-11-11 00:00:00'),
 Timestamp('2003-01-01 00:00:00'),
 Timestamp('2003-03-01 00:00:00'),
 Timestamp('2003-07-01 00:00:00'),
 Timestamp('2003-08-01 00:00:00'),
 Timestamp('2003-09-01 00:00:00'),
 Timestamp('2003-10-06 00:00:00'),
 Timestamp('2004-01-01 00:00:00'),
 Timestamp('2004-01-01 00:00:00'),
 Timestamp('2004-03-12 00:00:00'),
 Timestamp('2004-04-01 00:00:00'),
 Timestamp('2004-04-08 00:00:00'),
 Timestamp('2004-05-01 00:00:00'),
 Timestamp('2004-05-01 00:00:00'),
 Timestamp('2004-05-01 00:00:00'),
 Timestamp('2004-07-01 00:00:00'),
 Timestamp('2004-08-01 00:00:00'),
 Timestamp('2004-08-12 00:00:00'),
 Timestamp('2004-09-10 00:00:00'),
 Timestamp('2004-11-01 00:00:00'),
 Timestamp('2004-11-11 00:00:00'),
 Timestamp('2004-12-01 00:00:00'),
 Timestamp('2005-01-01 00:00:00'),
 Timestamp('2005-03-01 00:00:00'),
 Timestamp('2005-05-01 00:00:00'),
 Timestamp('2005-06-01 00:00:00'),
 Timestamp('2005-09-01 00:00:00'),
 Timestamp('2005-12-01 00:00:00'),
 Timestamp('2006-01-01 00:00:00'),
 Timestamp('2006-02-11 00:00:00'),
 Timestamp('2006-04-27 00:00:00'),
 Timestamp('2006-05-01 00:00:00'),
 Timestamp('2006-05-01 00:00:00'),
 Timestamp('2006-07-01 00:00:00'),
 Timestamp('2006-10-18 00:00:00'),
 Timestamp('2007-01-01 00:00:00'),
 Timestamp('2007-01-01 00:00:00'),
 Timestamp('2007-01-01 00:00:00'),
 Timestamp('2007-01-01 00:00:00'),
 Timestamp('2007-04-01 00:00:00'),
 Timestamp('2007-04-01 00:00:00'),
 Timestamp('2007-06-01 00:00:00'),
 Timestamp('2007-06-01 00:00:00'),
 Timestamp('2007-09-01 00:00:00'),
 Timestamp('2007-10-21 00:00:00'),
 Timestamp('2007-11-01 00:00:00'),
 Timestamp('2007-11-30 00:00:00'),
 Timestamp('2007-12-01 00:00:00'),
 Timestamp('2007-12-01 00:00:00'),
 Timestamp('2008-01-01 00:00:00'),
 Timestamp('2008-01-01 00:00:00'),
 Timestamp('2008-01-14 00:00:00'),
 Timestamp('2008-05-26 00:00:00'),
 Timestamp('2008-08-01 00:00:00'),
 Timestamp('2008-08-01 00:00:00'),
 Timestamp('2008-09-01 00:00:00'),
 Timestamp('2008-11-01 00:00:00'),
 Timestamp('2008-12-01 00:00:00'),
 Timestamp('2009-01-01 00:00:00'),
 Timestamp('2009-01-01 00:00:00'),
 Timestamp('2009-01-01 00:00:00'),
 Timestamp('2009-02-01 00:00:00'),
 Timestamp('2009-07-01 00:00:00'),
 Timestamp('2009-08-01 00:00:00'),
 Timestamp('2009-08-01 00:00:00'),
 Timestamp('2009-12-01 00:00:00'),
 Timestamp('2010-01-01 00:00:00'),
 Timestamp('2010-02-01 00:00:00'),
 Timestamp('2010-03-01 00:00:00'),
 Timestamp('2010-05-01 00:00:00'),
 Timestamp('2010-05-26 00:00:00'),
 Timestamp('2010-08-01 00:00:00'),
 Timestamp('2010-10-01 00:00:00'),
 Timestamp('2010-11-01 00:00:00'),
 Timestamp('2010-11-01 00:00:00'),
 Timestamp('2010-12-05 00:00:00'),
 Timestamp('2011-01-01 00:00:00'),
 Timestamp('2011-01-24 00:00:00'),
 Timestamp('2011-01-25 00:00:00'),
 Timestamp('2011-05-01 00:00:00'),
 Timestamp('2011-05-01 00:00:00'),
 Timestamp('2011-06-01 00:00:00'),
 Timestamp('2011-06-13 00:00:00'),
 Timestamp('2011-07-20 00:00:00'),
 Timestamp('2011-09-15 00:00:00'),
 Timestamp('2011-12-01 00:00:00'),
 Timestamp('2012-01-01 00:00:00'),
 Timestamp('2012-04-01 00:00:00'),
 Timestamp('2012-05-01 00:00:00'),
 Timestamp('2012-05-12 00:00:00'),
 Timestamp('2012-06-25 00:00:00'),
 Timestamp('2012-09-01 00:00:00'),
 Timestamp('2012-09-01 00:00:00'),
 Timestamp('2012-10-21 00:00:00'),
 Timestamp('2012-11-01 00:00:00'),
 Timestamp('2012-12-01 00:00:00'),
 Timestamp('2013-01-01 00:00:00'),
 Timestamp('2013-01-01 00:00:00'),
 Timestamp('2013-01-01 00:00:00'),
 Timestamp('2013-04-01 00:00:00'),
 Timestamp('2013-09-01 00:00:00'),
 Timestamp('2013-10-11 00:00:00'),
 Timestamp('2014-01-01 00:00:00'),
 Timestamp('2014-01-01 00:00:00'),
 Timestamp('2014-07-01 00:00:00'),
 Timestamp('2014-10-01 00:00:00'),
 Timestamp('2014-10-01 00:00:00'),
 Timestamp('2014-12-01 00:00:00'),
 Timestamp('2015-01-01 00:00:00'),
 Timestamp('2015-09-01 00:00:00'),
 Timestamp('2015-09-28 00:00:00'),
 Timestamp('2015-10-01 00:00:00'),
 Timestamp('2016-01-01 00:00:00'),
 Timestamp('2016-02-01 00:00:00'),
 Timestamp('2016-05-01 00:00:00'),
 Timestamp('2016-05-01 00:00:00'),
 Timestamp('2016-05-30 00:00:00'),
 Timestamp('2016-10-13 00:00:00'),
 Timestamp('2016-10-19 00:00:00'),
 Timestamp('2016-11-01 00:00:00')]

In [6]:

# esta lista ya no viene como timestamp (cada fecha como si fuera un string)
# por si lo quieren revisar así. Los acomodé en el orden Año/Mes/día
# Y = Year
# m = month
# d = day
# si quieren modificar el orden en el que se pone la fecha para facilitar la 
# revisión, basta con indicarlo en el argumento de el método "strftime"
# esto lo comento porque creo que en las instrucciones no viene especificado
# cómo tiene que ir el orden de los elementos de la lista 
lista_fechas_ordenadas_no_timestamp = []

for fecha in lista_fechas_ordenadas:
    lista_fechas_ordenadas_no_timestamp.append(fecha.strftime('%Y/%m/%d'))

In [7]:
lista_fechas_ordenadas_no_timestamp

['1971/04/10',
 '1971/05/18',
 '1971/07/08',
 '1971/07/11',
 '1971/09/12',
 '1972/01/01',
 '1972/01/13',
 '1972/01/26',
 '1972/05/06',
 '1972/05/13',
 '1972/06/10',
 '1972/06/15',
 '1972/07/20',
 '1972/10/04',
 '1972/11/30',
 '1973/01/01',
 '1973/02/01',
 '1973/02/01',
 '1973/02/14',
 '1973/03/01',
 '1973/03/01',
 '1973/04/01',
 '1973/06/01',
 '1973/07/01',
 '1973/10/01',
 '1973/12/01',
 '1974/01/01',
 '1974/02/01',
 '1974/02/24',
 '1974/03/01',
 '1974/03/05',
 '1974/03/06',
 '1974/04/01',
 '1974/04/11',
 '1974/04/12',
 '1974/05/04',
 '1974/05/26',
 '1974/06/01',
 '1974/06/13',
 '1974/07/07',
 '1974/08/01',
 '1974/09/01',
 '1974/09/10',
 '1974/10/10',
 '1974/10/14',
 '1975/01/01',
 '1975/02/28',
 '1975/03/01',
 '1975/04/09',
 '1975/07/01',
 '1975/07/29',
 '1975/08/01',
 '1975/08/18',
 '1975/09/01',
 '1975/09/01',
 '1975/09/27',
 '1975/11/22',
 '1975/12/01',
 '1975/12/14',
 '1976/01/01',
 '1976/02/01',
 '1976/02/11',
 '1976/03/01',
 '1976/03/10',
 '1976/04/01',
 '1976/06/01',
 '1976/09/02',
 '1976/09/20',
 '1976/10/13',
 '1977/01/01',
 '1977/01/01',
 '1977/02/01',
 '1977/02/01',
 '1977/04/01',
 '1977/05/01',
 '1977/05/04',
 '1977/05/21',
 '1977/06/20',
 '1977/07/01',
 '1977/07/11',
 '1977/10/21',
 '1978/01/01',
 '1978/01/01',
 '1978/01/01',
 '1978/02/01',
 '1978/02/02',
 '1978/02/03',
 '1978/03/01',
 '1978/05/18',
 '1978/07/26',
 '1978/08/04',
 '1978/08/11',
 '1978/10/01',
 '1978/10/21',
 '1978/12/01',
 '1978/12/01',
 '1979/01/01',
 '1979/04/01',
 '1979/05/01',
 '1979/07/06',
 '1979/08/01',
 '1979/08/01',
 '1979/09/06',
 '1979/10/01',
 '1979/10/21',
 '1979/11/01',
 '1980/01/01',
 '1980/03/01',
 '1980/03/12',
 '1980/04/22',
 '1980/05/01',
 '1980/09/01',
 '1980/10/01',
 '1980/10/01',
 '1980/10/18',
 '1981/01/01',
 '1981/01/14',
 '1981/01/14',
 '1981/02/18',
 '1981/03/01',
 '1981/06/01',
 '1981/06/29',
 '1981/07/01',
 '1981/07/01',
 '1981/08/09',
 '1981/08/14',
 '1981/09/01',
 '1981/09/19',
 '1981/10/01',
 '1982/01/01',
 '1982/04/12',
 '1982/04/13',
 '1982/05/26',
 '1982/07/01',
 '1982/07/04',
 '1982/08/16',
 '1982/08/20',
 '1982/09/22',
 '1982/10/16',
 '1982/11/01',
 '1982/12/08',
 '1982/12/10',
 '1983/01/01',
 '1983/01/01',
 '1983/01/27',
 '1983/02/01',
 '1983/02/01',
 '1983/02/10',
 '1983/03/01',
 '1983/03/15',
 '1983/04/01',
 '1983/05/01',
 '1983/07/25',
 '1983/08/06',
 '1983/08/22',
 '1983/09/01',
 '1983/10/21',
 '1983/11/14',
 '1984/01/01',
 '1984/07/25',
 '1984/09/01',
 '1984/09/01',
 '1984/09/17',
 '1984/11/01',
 '1985/01/01',
 '1985/02/11',
 '1985/03/31',
 '1985/04/01',
 '1985/05/11',
 '1985/06/15',
 '1985/06/18',
 '1985/07/01',
 '1985/07/01',
 '1985/08/17',
 '1985/09/01',
 '1985/10/10',
 '1985/11/03',
 '1986/01/01',
 '1986/01/24',
 '1986/03/01',
 '1986/03/07',
 '1986/04/01',
 '1986/05/01',
 '1986/07/01',
 '1986/07/18',
 '1986/07/27',
 '1986/08/01',
 '1986/10/01',
 '1986/10/01',
 '1986/10/13',
 '1986/10/24',
 '1986/11/01',
 '1986/12/01',
 '1986/12/26',
 '1987/01/01',
 '1987/01/01',
 '1987/01/21',
 '1987/04/12',
 '1987/05/01',
 '1987/06/24',
 '1987/06/28',
 '1987/07/01',
 '1987/10/11',
 '1987/10/25',
 '1987/12/04',
 '1987/12/05',
 '1988/01/01',
 '1988/04/01',
 '1988/05/24',
 '1988/08/01',
 '1988/08/01',
 '1988/11/11',
 '1988/12/04',
 '1988/12/09',
 '1989/01/01',
 '1989/02/01',
 '1989/04/01',
 '1989/04/05',
 '1989/04/13',
 '1989/05/14',
 '1989/05/15',
 '1989/06/01',
 '1989/07/01',
 '1989/08/01',
 '1989/08/11',
 '1989/08/26',
 '1989/09/09',
 '1989/09/22',
 '1989/10/24',
 '1989/12/01',
 '1990/01/01',
 '1990/01/18',
 '1990/02/10',
 '1990/03/01',
 '1990/03/03',
 '1990/04/11',
 '1990/05/24',
 '1990/06/22',
 '1990/07/01',
 '1990/10/23',
 '1990/11/01',
 '1990/11/05',
 '1990/12/08',
 '1991/01/01',
 '1991/01/07',
 '1991/03/31',
 '1991/04/19',
 '1991/05/24',
 '1991/06/20',
 '1991/07/01',
 '1991/07/06',
 '1991/07/15',
 '1991/10/01',
 '1991/10/29',
 '1992/01/01',
 '1992/01/01',
 '1992/02/05',
 '1992/02/22',
 '1992/04/17',
 '1992/06/13',
 '1992/07/01',
 '1992/07/17',
 '1992/08/16',
 '1992/09/01',
 '1992/10/01',
 '1992/10/14',
 '1992/12/01',
 '1992/12/15',
 '1993/01/01',
 '1993/01/01',
 '1993/02/01',
 '1993/03/01',
 '1993/03/25',
 '1993/04/01',
 '1993/05/06',
 '1993/06/05',
 '1993/08/23',
 '1993/10/01',
 '1993/12/01',
 '1994/01/01',
 '1994/01/01',
 '1994/01/01',
 '1994/01/29',
 '1994/02/01',
 '1994/02/18',
 '1994/06/12',
 '1994/06/28',
 '1994/07/01',
 '1994/07/29',
 '1994/08/14',
 '1994/10/01',
 '1994/12/01',
 '1995/01/01',
 '1995/01/01',
 '1995/01/18',
 '1995/02/01',
 '1995/02/14',
 '1995/03/01',
 '1995/03/14',
 '1995/05/01',
 '1995/05/01',
 '1995/06/17',
 '1995/07/01',
 '1995/07/24',
 '1995/08/18',
 '1995/09/06',
 '1995/10/01',
 '1995/10/13',
 '1995/10/21',
 '1995/11/01',
 '1996/01/01',
 '1996/01/22',
 '1996/02/06',
 '1996/02/27',
 '1996/10/01',
 '1996/10/02',
 '1996/10/14',
 '1996/11/11',
 '1997/01/01',
 '1997/07/01',
 '1997/07/11',
 '1997/08/09',
 '1997/10/01',
 '1997/10/05',
 '1997/11/01',
 '1997/12/08',
 '1998/01/01',
 '1998/02/15',
 '1998/04/01',
 '1998/04/24',
 '1998/05/15',
 '1998/06/01',
 '1998/07/21',
 '1998/07/25',
 '1998/08/01',
 '1998/10/04',
 '1998/11/01',
 '1998/12/01',
 '1998/12/22',
 '1999/01/01',
 '1999/01/05',
 '1999/02/01',
 '1999/04/01',
 '1999/04/01',
 '1999/05/01',
 '1999/06/01',
 '1999/07/24',
 '1999/08/01',
 '1999/09/01',
 '1999/10/18',
 '1999/12/23',
 '2000/01/01',
 '2000/02/01',
 '2000/02/01',
 '2000/03/01',
 '2000/03/01',
 '2000/05/01',
 '2000/08/01',
 '2000/08/10',
 '2000/08/23',
 '2000/09/01',
 '2000/09/14',
 '2000/11/01',
 '2001/01/01',
 '2001/01/24',
 '2001/05/01',
 '2001/05/26',
 '2001/05/30',
 '2001/05/30',
 '2001/06/01',
 '2001/09/01',
 '2001/10/01',
 '2002/01/01',
 '2002/03/01',
 '2002/04/01',
 '2002/04/13',
 '2002/06/01',
 '2002/06/28',
 '2002/07/18',
 '2002/08/01',
 '2002/11/11',
 '2003/01/01',
 '2003/03/01',
 '2003/07/01',
 '2003/08/01',
 '2003/09/01',
 '2003/10/06',
 '2004/01/01',
 '2004/01/01',
 '2004/03/12',
 '2004/04/01',
 '2004/04/08',
 '2004/05/01',
 '2004/05/01',
 '2004/05/01',
 '2004/07/01',
 '2004/08/01',
 '2004/08/12',
 '2004/09/10',
 '2004/11/01',
 '2004/11/11',
 '2004/12/01',
 '2005/01/01',
 '2005/03/01',
 '2005/05/01',
 '2005/06/01',
 '2005/09/01',
 '2005/12/01',
 '2006/01/01',
 '2006/02/11',
 '2006/04/27',
 '2006/05/01',
 '2006/05/01',
 '2006/07/01',
 '2006/10/18',
 '2007/01/01',
 '2007/01/01',
 '2007/01/01',
 '2007/01/01',
 '2007/04/01',
 '2007/04/01',
 '2007/06/01',
 '2007/06/01',
 '2007/09/01',
 '2007/10/21',
 '2007/11/01',
 '2007/11/30',
 '2007/12/01',
 '2007/12/01',
 '2008/01/01',
 '2008/01/01',
 '2008/01/14',
 '2008/05/26',
 '2008/08/01',
 '2008/08/01',
 '2008/09/01',
 '2008/11/01',
 '2008/12/01',
 '2009/01/01',
 '2009/01/01',
 '2009/01/01',
 '2009/02/01',
 '2009/07/01',
 '2009/08/01',
 '2009/08/01',
 '2009/12/01',
 '2010/01/01',
 '2010/02/01',
 '2010/03/01',
 '2010/05/01',
 '2010/05/26',
 '2010/08/01',
 '2010/10/01',
 '2010/11/01',
 '2010/11/01',
 '2010/12/05',
 '2011/01/01',
 '2011/01/24',
 '2011/01/25',
 '2011/05/01',
 '2011/05/01',
 '2011/06/01',
 '2011/06/13',
 '2011/07/20',
 '2011/09/15',
 '2011/12/01',
 '2012/01/01',
 '2012/04/01',
 '2012/05/01',
 '2012/05/12',
 '2012/06/25',
 '2012/09/01',
 '2012/09/01',
 '2012/10/21',
 '2012/11/01',
 '2012/12/01',
 '2013/01/01',
 '2013/01/01',
 '2013/01/01',
 '2013/04/01',
 '2013/09/01',
 '2013/10/11',
 '2014/01/01',
 '2014/01/01',
 '2014/07/01',
 '2014/10/01',
 '2014/10/01',
 '2014/12/01',
 '2015/01/01',
 '2015/09/01',
 '2015/09/28',
 '2015/10/01',
 '2016/01/01',
 '2016/02/01',
 '2016/05/01',
 '2016/05/01',
 '2016/05/30',
 '2016/10/13',
 '2016/10/19',
 '2016/11/01']

In [8]:
# por si se les facilita revisar con el índice

indice_fechas_ordenadas = fechas_ordenadas.index
indice_fechas_ordenadas

Int64Index([  9,  84,   2,  53,  28, 474, 153,  13, 129,  98,
            ...
            152, 235, 464, 253, 427, 231, 141, 186, 161, 413],
           dtype='int64', length=500)

In [9]:
indice_fechas_ordenadas.values

array([  9,  84,   2,  53,  28, 474, 153,  13, 129,  98, 111, 225,  31,
       171, 191, 486, 335, 415,  36, 405, 323, 422, 375, 380, 345,  57,
       481, 436, 104, 299, 162, 154, 402,  95,  73, 108, 156, 332, 182,
        82, 351, 278, 214, 155, 223, 473,  49, 317,  11, 319,  40, 418,
       165, 370, 382,   3,  50, 363, 219, 465, 237,  23, 342, 204, 258,
       315,  27,  93,  17, 488, 303, 283, 395, 309, 419, 123,  19, 117,
       232,  72, 189, 369, 493, 318, 239, 148, 105, 336,   6, 200,  81,
        65, 434, 164, 378, 313, 495, 424, 398,   5, 254, 296,  75, 167,
        21, 259, 499, 347, 150,  78, 340, 441, 361, 267, 221, 466,  39,
       134, 197, 355, 430,  80, 444, 246,  85, 215, 263,  74, 403, 458,
        16,  25, 127, 454,  70,  44,  59, 103, 112, 429,  88, 179, 470,
       358, 205, 397, 294, 137, 295,  35, 438, 247, 209,  61, 107, 285,
       175,  99, 455,  24, 275, 421,  48, 426, 489, 136,  30, 274,  10,
       178,   1, 447, 280, 185, 228, 135,  69, 492, 199, 352,   8, 276,
       230, 334,  96,  38, 368, 404, 261, 168,  29, 437, 423,  54, 284,
       485,  68,  32, 349,  41,  63, 416,  55, 130, 116,  76, 462, 330,
        37, 390, 256, 216, 174, 180, 476, 312, 265, 115,  71, 218, 202,
       440, 385, 373, 210,  89, 149,  26,   7, 435, 482, 177, 157, 412,
        22, 194,  14, 151, 233, 206, 245, 122,  94, 461, 226,  97,  91,
        51,  33, 453,  67,  46, 322,  66, 399, 487, 138,  62, 211,  52,
       269, 119, 100, 442, 310, 143, 301, 113, 478, 298, 272, 354,   0,
       249, 192,  86, 172, 357, 331, 477, 450, 300, 163, 308, 196,  47,
       133, 359,  64,  42, 409, 406, 483, 238, 193, 311, 140, 388,  56,
       236, 372, 110, 248,  60, 181, 203, 326,  90, 169, 292, 479, 142,
         4, 124, 324, 121, 131, 166, 468, 365, 213,  87, 353, 101, 333,
       114, 459,  45, 338,  18, 222, 343,  20, 224,  12,  79, 387, 251,
       120, 471,  77, 376, 432, 327, 384, 321, 212, 407, 266, 145, 201,
       456, 305, 260, 420, 329, 392, 417, 190, 158, 443,  83, 374, 457,
       125, 328, 159, 195, 147, 377, 367, 394, 494, 304, 446,  43, 262,
       128, 102, 449, 184, 469, 452, 234, 362, 356, 144, 291, 484, 188,
       414,  92, 350, 241, 306, 425, 281, 207, 126, 302, 146, 451, 498,
       339, 250, 344, 346, 348, 496, 106, 118, 270, 433, 307, 173, 314,
       410, 490, 252, 391, 277, 325, 264, 289, 160, 341, 132, 428, 337,
       445, 497, 187, 183, 396, 271, 293, 400, 360, 297, 491, 371, 389,
       386, 288, 379, 268, 472, 273, 287, 448, 176, 411, 408, 364, 242,
        58, 467, 170,  15, 240, 316, 229, 217, 109, 227, 290, 460, 393,
       282,  34, 220, 208, 243, 139, 320, 383, 244, 286, 480, 431, 279,
       198, 381, 463, 366, 439, 255, 401, 475, 257, 152, 235, 464, 253,
       427, 231, 141, 186, 161, 413])